<section class="abt_top">
  <div class="container">
    {% if block.settings.title != blank %}
      <{{ block.settings.title_tag }}>{{ block.settings.title }}</{{ block.settings.title_tag }}>
    {% endif %}
    {% if block.settings.content != blank %}
      {{ block.settings.content }}
    {% endif %}
  </div>
</section>