<div id="cart-email-submission-modal">
    <i class="fas fa-times" id="cart-email-submission-modal-close"></i>
    <div class="inner">
        <p>
            We will process your data in accordance with our 
            <a href="/pages/privacy-policy">Privacy Policy</a>. You may 
            withdraw this consent at any time by emailing 
            <a href="mailto:data@josefseibel.co.uk">data@josefseibel.co.uk</a>
        </p>
        <form id="cart-email-signup" method="POST" action="#">
            <input type="text" name="sign-up" placeholder="EMAIL ADDRESS" id="email">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
        <p id="cart-email-signup-alert-message"></p>
    </div>
</div>