<div class="product col col-4 js-product-placeholder">
	<div class="image" style="background-image: url([image-url])">
		<a href="[url]"></a>
	</div>
	<div class="info">
		<h3><a href="[url]">[title]</a></h3>
    <div data-bv-show="inline_rating"
		data-bv-product-Id="[product-id]" data-bv-redirect-url="[url]"></div>
		<p class="price"><span class="the-price money"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_page_price" style="display:none !important;"></span><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="[price-pence]" style="display:none !important;"></span>[price]</span></p>
	</div>
</div>