<div class="cms-sections">
  {% for block in section.blocks %}
    {% case block.type %}
        {% comment %} ABOUT JOSEF SEIBEL GROUP {% endcomment %}
      {% when 'onecolumn-content' %}
        {% include 'cms-onecolumn-content' %}

        {% comment %} WATCH OUR CORPORATE VIDEO {% endcomment %}
      {% when 'banner-one' %}
        {% include 'cms-banner-one' %}

      {% when 'banner-two' %}
        {% include 'cms-banner-two' %}

        {% comment %} OUR BRANDS {% endcomment %}
      {% when 'our-brands' %}
        {% include 'cms-banner-two' %}

      {% when 'banner-three' %}
        {% include 'cms-banner-three' %}

      {% when 'banner-four' %}
        {% include 'cms-banner-four' %}

      {% when 'twocolumn-image-content' %}
        {% include 'cms-twocolumn-image-content' %}

      {% when 'twocolumn-2content' %}
        {% include 'cms-twocolumn-2content' %}

      {% when 'twocolumn-content-video' %}
        {% include 'cms-twocolumn-content-video' %}
    {% endcase %}
  {% endfor %}
</div>