<section class="usp-bar">
	<div class="container">
		<div class="row flex-grid">
			<div class="col col-4">
				<span><i class="fas fa-truck"></i>  FREE UK DELIVERY ON ORDERS OVER £30</span>
			</div>
			<div class="col col-4">
				<span><i class="fas fa-undo"></i>  60 DAYS RETURN POLICY</span>
			</div>
			<div class="col col-4">
				<span><i class="far fa-credit-card"></i>  SECURE PAYMENT</span>
			</div>
		</div>
	</div>
</section>