<section id="reset-password-section">
    <div class="container">
        {% form 'reset_customer_password' %}
            <div class="flex-grid">
                {{ form.errors | default_errors }}
                <div class="col col-12">
                    <label for="password">Password</label>
                    <input type="password" value="" name="customer[password]" size="16" />
                </div>
                <div class="col col-12">
                    <label for="password_confirmation">Password Confirmation</label>
                    <input type="password" value="" name="customer[password_confirmation]" size="16" />
                </div>
                <div class="col col-12">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>
            </div>
        {% endform %}
    </div>
</section>