<h2>{{ collection.title }}</h2>

<div class="info">
  <p class="m-0">{{ collection.description }}</p>
</div>
<div class="sortby d-none d-lg-inline-flex" id="bc-sf-filter-top-sorting">
</div>

{% schema %}
{
  "name": "inner_banner",
  "class": "inner"
}
{% endschema %}
