<section class="inner_banner">
    <img src="{{ collection.image | img_url: '3000x' }}" alt="">
</section>

{% schema %}
{
    "name": "inner_banner",
    "tag": "section",
    "class": "inner_banner"
}
{% endschema %}