{% for block in section.blocks limit: section.blocks.size %}
<div class="container">
  {% if block.settings.title != blank %}
    <{{ block.settings.title_tag }}>{{ block.settings.title }}</{{ block.settings.title_tag }}>
  {% endif %}
  {% if block.settings.content != blank %}
    {{ block.settings.content }}
  {% endif %}
</div>
{% endfor %}

{% schema %}
{
  "name": "Title & Content",
  "tag": "section",
  "class": "abt_top",
  "blocks": [
    {
      "type": "title_content",
      "name": "Title & Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Title & Content",
      "category": "Text"
    }
  ]
}
{% endschema %}
