<div class="container">
  {% if section.settings.title != blank %}
    <{{ section.settings.title_tag }}>{{ section.settings.title }}</{{ section.settings.title_tag }}>
  {% endif %}
  {% if section.settings.content != blank %}
    {{ section.settings.content }}
  {% endif %}
</div>

{% schema %}
{
  "name": "One Col - Content",
  "tag": "section",
  "class": "abt_top",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Banner"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title H Tag",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    }
  ],
  "presets": [
    {
      "name": "Juno Onecolumn Content",
      "category": "Text"
    }
  ]
}
{% endschema %}