{% include 'page-template-blocks' %}

{% schema %}
{
  "blocks": [
    {
      "type": "banner-one",
      "name": "Video Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "video_src",
          "label": "Video filename",
          "info": "Upload a .mp4, .webm, .ogv into the Files folder (Settings > Files) all with this name. So if one of your assets is 'my-video.mp4', then just enter 'my-video' here."
        },
        {
          "type": "checkbox",
          "id": "video_loop",
          "label": "Loop video?",
          "info": "Use to video file",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_controls",
          "label": "Controls video?",
          "info": "Use to video file",
          "default": false
        },
        {
          "type": "video_url",
          "id": "video_link",
          "label": "Video Link",
          "info": "Use a youtube video",
          "accept": ["youtube"]
        }
      ]
    },
    {
      "type": "banner-two",
      "name": "Banner - Two",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_1",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_1",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_1",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_1",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_1",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_1",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_1_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_1_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_1",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_2",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_2",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_2",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_2",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_2",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_2",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_2_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_2_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_2",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        }
      ]
    },
    {
      "type": "banner-three",
      "name": "Banner - Three",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "select",
          "id": "inner_spacing",
          "label": "Content Spacing",
          "options": [
            { "value": "", "label": "None" },
            { "value": "spacing", "label": "Spacing Only" },
            { "value": "border-spacing", "label": "Border & Spacing" }
          ],
          "default": ""
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_1",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "image_1_width",
          "label": "Image Width",
          "options": [
            { "value": "image-auto", "label": "Image width auto" },
            { "value": "", "label": "Image 100% width" }
          ],
          "default": ""
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_1",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_1",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_1",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_1",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_1",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_1_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_1_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_1",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_2",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "image_2_width",
          "label": "Image Width",
          "options": [
            { "value": "image-auto", "label": "Image width auto" },
            { "value": "", "label": "Image 100% width" }
          ],
          "default": ""
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_2",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_2",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_2",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_2",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_2",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_2_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_2_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_2",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_3",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "image_3_width",
          "label": "Image Width",
          "options": [
            { "value": "image-auto", "label": "Image width auto" },
            { "value": "", "label": "Image 100% width" }
          ],
          "default": ""
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_3",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_3",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_3",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_3",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_3",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_3",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_3_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_3_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_3_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_3_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_3",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        }
      ]
    },
    {
      "type": "banner-four",
      "name": "Banner - Four",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_1",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_1",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_1",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_1",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_1",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_1",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_1_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_1_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_1",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_2",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_2",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_2",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_2",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_2",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_2",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_2_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_2_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_2",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_3",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_3",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_3",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_3",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_3",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_3",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_3",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_3_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_3_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_3_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_3_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_3",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_4",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Image Link"
        },
        {
          "type": "select",
          "id": "content_position_4",
          "label": "Content Position",
          "options": [
            { "value": "located-image", "label": "Located on the image" },
            { "value": "below-image", "label": "Below the image" }
          ],
          "default": "located-image"
        },
        {
          "type": "select",
          "id": "text_color_4",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-light"
        },
        {
          "type": "select",
          "id": "vertical_align_4",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle",
          "info": "Use for Located on the image"
        },
        {
          "type": "select",
          "id": "horizontal_align_4",
          "label": "Horizontal align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag_4",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content_4",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_4_a",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_4_a",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_4_b",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_4_b",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "button_position_4",
          "label": "Button Position",
          "options": [
            { "value": "button-top", "label": "Top" },
            { "value": "button-below-content", "label": "Below Content" },
            { "value": "button-bottom", "label": "Bottom" }
          ],
          "default": "button-below-content",
          "info": "Use for Located on the image"
        }
      ]
    },
    {
      "type": "twocolumn-image-content",
      "name": "Two Cols - Image Content",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image link"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-dark"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            { "value": "text-left", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-right", "label": "Right" }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "image_width",
          "label": "Image Column Width",
          "options": [
            { "value": "image-half", "label": "Half" },
            { "value": "image-third", "label": "Third" },
            { "value": "image-quarter", "label": "Quarter" }
          ],
          "default": "image-half"
        },
        {
          "type": "select",
          "id": "column_order",
          "label": "Column Order",
          "options": [
            { "value": "image-left", "label": "Image Left - Content Right" },
            { "value": "image-right", "label": "Image Right - Content Left" }
          ],
          "default": "image-left"
        },
        {
          "type": "select",
          "id": "vertical_align",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle"
        }
      ]
    },
    {
      "type": "twocolumn-2content",
      "name": "Two Cols - 2 Content",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-dark"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            { "value": "text-left", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-right", "label": "Right" }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Title2",
          "default": "Banner2"
        },
        {
          "type": "select",
          "id": "title_tag2",
          "label": "Title H Tag2",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "content2",
          "label": "Content2",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "image_width",
          "label": "Column Width",
          "options": [
            { "value": "image-half", "label": "Half" },
            { "value": "image-third", "label": "Third" },
            { "value": "image-quarter", "label": "Quarter" }
          ],
          "default": "image-half"
        },
        {
          "type": "select",
          "id": "column_order",
          "label": "Column Order",
          "options": [
            { "value": "image-left", "label": "Image Left - Content Right" },
            { "value": "image-right", "label": "Image Right - Content Left" }
          ],
          "default": "image-left"
        },
        {
          "type": "select",
          "id": "vertical_align",
          "label": "Vertical align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle"
        }
      ]
    },
    {
      "type": "twocolumn-content-video",
      "name": "Two Cols - Content Video",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": "full-width"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "video_url",
          "id": "video_link",
          "label": "Video Link",
          "accept": ["youtube"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Video Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Video Mobile Image"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-dark"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            { "value": "text-left", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-right", "label": "Right" }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button Text 2",
          "default": "Shop Now"
        },
        {
          "type": "select",
          "id": "image_width",
          "label": "Image Column Width",
          "options": [
            { "value": "image-half", "label": "Half" },
            { "value": "image-third", "label": "Third" },
            { "value": "image-quarter", "label": "Quarter" }
          ],
          "default": "image-half"
        },
        {
          "type": "select",
          "id": "column_order",
          "label": "Column Order",
          "options": [
            { "value": "image-left", "label": "Image Left - Content Right" },
            { "value": "image-right", "label": "Image Right - Content Left" }
          ],
          "default": "image-left"
        },
        {
          "type": "select",
          "id": "vertical_align",
          "label": "Vertical Align",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "middle"
        }
      ]
    },
    {
      "type": "onecolumn-content",
      "name": "One Col - Content",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Content Width",
          "options": [
            { "value": "", "label": "Content Full" },
            { "value": "content-center", "label": "Content Center" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            { "value": "text-left", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-right", "label": "Right" }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner"
        },
        {
          "type": "select",
          "id": "content_positon",
          "label": "Content Order",
          "options": [
            { "value": "", "label": "Title Content" },
            { "value": "title-left", "label": "Title Left - Content Right" },
            { "value": "title-right", "label": "Title Right - Content Left" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            { "value": "text-light", "label": "Light" },
            { "value": "text-dark", "label": "Dark" }
          ],
          "default": "text-dark"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Button Link 1"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Button Link 2"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button Text 2",
          "default": "Shop Now"
        }
      ]
    },
    {
      "type": "threecolumn-text",
      "name": "Threecolumn Text",
      "settings": [
        {
          "type": "select",
          "id": "max_width",
          "label": "Max width",
          "options": [
            { "value": "", "label": "Wide Width" },
            { "value": "full-width", "label": "Full Width" },
            { "value": "narrow-width", "label": "Narrow Width" }
          ],
          "default": ""
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "add_border_top",
          "label": "Add border top?",
          "options": [
            { "value": "border-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_border_bottom",
          "label": "Add border bottom?",
          "options": [
            { "value": "border-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "border_width",
          "label": "Border Width",
          "options": [
            { "value": "", "label": "Border Ful Width" },
            { "value": "border-content-center", "label": "Border Wide Width" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_top",
          "label": "Add padding top?",
          "options": [
            { "value": "padding-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_padding_bottom",
          "label": "Add padding bottom?",
          "options": [
            { "value": "padding-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_top",
          "label": "Add margin top?",
          "options": [
            { "value": "margin-top", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "add_margin_bottom",
          "label": "Add margin bottom?",
          "options": [
            { "value": "margin-bottom", "label": "Yes" },
            { "value": "", "label": "No" }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom class"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Heading"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "title_tag_1",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h3"
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "title_tag_2",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h3"
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "title_tag_3",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h3"
        },
        {
          "type": "textarea",
          "id": "content_3",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
