{% section 'mens-header-image-with-text' %}

{% section 'mens-featured-collections' %}

{% section 'mens-popular-collections' %}

<section class="mens-womens-landing-page-text">
    <div class="container">
        <p>{{ page_description }}</p>
    </div>
</section>

{% section 'mens-related-products' %}