<section class="privacy_sec">
  <div class="container">
    {% assign words = page.title | split: ' ' %}
    {% for w in words limit: words.size %}
        {% assign tw = w | capitalize %}
      {% assign title = title | append: tw | append: ' ' %}
    {% endfor %}

    <h2>{{ title }}</h2>
    <p>{{ page.content }}</p>
  </div>
</section>
