{% section 'womens-header-image-with-text' %}

{% section 'womens-featured-collections' %}

{% section 'womens-popular-collections' %}

<section class="mens-womens-landing-page-text">
    <div class="container">
        <p>{{ page_description }}</p>
    </div>
</section>

{% section 'womens-related-products' %}